Makefile.in
aclocal.m4
compile
configure
depcomp
install-sh
*.o
.deps/
m4/
missing
po/.intltool-merge-cache
config.*
po/LINGUAS
po/POTFILES
po/*.gmo
po/stamp-it
stamp-h1
Makefile
intltool-extract.in
intltool-merge.in
intltool-update.in
data/lxappearance.desktop
data/lxappearance.pc
src/lxappearance
data/ui/*.ui
data/ui/about.glade
po/Makefile.in.in
